<h1 class="display-3">Cyber Security Breaches</h1>
<div >
  <div>
  	<div class="card">
  		<div class="card-body">
  			<h3 class="card-title">By Type of Breach</h3>
      		<%= bar_chart charts_by_type_breaches_path %>
   		</div><!-- card -->
  	</div>
  </div>
  <br>
  <div>
  	<div class="card">
  		<div class="card-body">
  			<h3 class="card-title">Top Ten States with Most Breaches</h3>
      		<%= column_chart charts_by_state_breaches_path %>
  		</div>
   	</div><!-- card -->
  </div>  
   <br>
	<div>
		<div class="card">
			<div class="card-body">
				   	<h3 class="card-title">Total Individuals Affected by Year</h3>
	   				<%= scatter_chart charts_by_victims_breaches_path %>
			</div>
	   </div><!-- card -->
	</div>   
</div>


